/* 전체 페이지 배경색 */
body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Pretendard-Regular', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; /* 스크롤 제거 */
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* 뷰포트 높이의 15%로 설정 (기존보다 크게) */
    width: 100%; /* 뷰포트 너비 전체 */
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%; /* 전체 너비의 90%로 설정 */
    padding: 10px 0; /* 상하 여백 추가 */
}

.text1, .text2 {
    margin: 0 37vw;
    font-family: 'Pretendard-Regular', sans-serif;
    font-size: 1vw; /* 뷰포트 너비 기준 텍스트 크기 */
    text-align: center;
    color: white;
    text-decoration: none; /* 밑줄 제거 */
}

.logo {
    width: 4.5vw; /* 로고 너비를 뷰포트 너비의 4%로 설정 (기존보다 작게) */
    height: auto; /* 높이를 비율에 맞게 조정 */
}

main {
    width: calc(100% - 10vw);
    max-width: 1200px;
}

/* 극장 제목 스타일 */
.theater-title {
    white-space: nowrap; /* 줄바꿈 방지 */
    color: white;
    text-align: left; /* 좌측 정렬 추가 */
    margin-left: 12vw; /* 왼쪽 여백 추가 (필요시 조정) */
    width: 100%; /* 부모 요소의 전체 너비 사용 */
}


/* 비디오 컨테이너 */
.video-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-top: 20px;
    padding-top: 5px; /* 위쪽 여백 추가 */
}

/* TV 프레임 스타일 */
.tv-frame {
    background-color: #1e1e1e;
    position: absolute;
    top: 0; /* 정확한 위치 지정 */
    width: 102%;
    height: 102%;
    border-radius: 10px;
    z-index: 1;
    box-sizing: border-box; /* 패딩 포함한 크기 계산 */
}

/* iframe 스타일 */
iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    position: relative;
    z-index: 2;
    box-sizing: border-box; /* 일관된 크기 계산 */
    margin: 4px 0 0 0; /* 상단 여백 미세 조정 */
}
